<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
    <a href="#up" class="navbar-wagon-item navbar-wagon-link"><h2>Adrien Zafiropoulos</h2></a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right ">

    <a href="#about" class="navbar-wagon-item navbar-wagon-link"><%= t "navbar.about" %></a>
    <a href="#work" class="navbar-wagon-item navbar-wagon-link"><%= t "navbar.work" %></a>
    <a href="#contact" class="navbar-wagon-item navbar-wagon-link"><%= t "navbar.contact" %></a>
    <a class="navbar-wagon-item navbar-wagon-link"><%= link_to "🇫🇷 ", locale: 'fr' %> <br> <%= link_to "🇬🇧", locale: 'en' %></a>
  </div>
</div>
