<div id="home" class="wrapper">

  <div id="up" class="home-banner">
    <div class="bg-white">
      <h1><%= t "banner.title" %></h1>
      <p><span id="banner-typed-text"></span></p>
    </div>
    <div>
      <section id="section10" class="demo">
        <a href="#about"><span></span></a>
      </section>
    </div>
  </div>

  <div class="container-white" id="about">
    <div  class="description" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600">
      <h1></span><%= t "white.title" %> </h1>
      <p><%= t "white.content" %></p>

    </div>
    <div class="profil">
      <div class="profil-img" data-aos="fade-up">
        <%= cl_image_tag("0013_13-Adrien_Zafiropoulos.jpg", height: 300, width: 300, crop: :fill )  %>
      </div>
    </div>
  </div>

  <div class="container-grey" id= "work">
    <div class="content" data-aos="fade-up">
      <div class= "title">
        <h1><%= t "w.work" %></h1>
        <p> <%= t "w.content" %></p>
      </div>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/adrirules/image/upload/v1523290383/show_odiable.png');">
        <div class="card-description">
          <h3>Odiable</h3>
          <p><%= t "odiable.content" %></p>
        </div>
        <a class="card-link" href="https://www.odiable.tech/" ></a>
      </div>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/adrirules/image/upload/v1523290558/dashboard_ridebnb.png');">
        <div class="card-description">
          <h3>RideBnB</h3>
          <p><%= t "ridebnb.content" %></p>
        </div>
        <a class="card-link" href="https://ridebnb.herokuapp.com/" ></a>
      </div>
    </div>
  </div>

  <div class="container-blue" id="contact">
    <div class="contact content" data-aos="fade-up">
      <div class="title">
        <h1><%= t "grey.title" %></h1>
      </div>
      <div>
        <p><%= t "grey.content" %></p>
      </div>
      <div class="title">
        <h3> Contact</h3>
      </div>
      <div>
        <p><i class="fa fa-envelope"> <span>   </span><br></i>adrien.zafiropoulos@gmail.com</p>
        <p><i class="fa fa-mobile"></i> +33(0)627139601</p>
      </div>
    </div>
  </div>

</div>
