<div id="home" class="wrapper">

  <div id="up" class="home-banner">
    <div class="bg-white">
      <h1><%= t "banner.title" %></h1>
      <p><span id="banner-typed-text"></span></p>
    </div>
    <div>
      <section id="section10" class="demo">
        <a href="#about"><span></span></a>
      </section>
    </div>
  </div>

  <div class="container-white" id="about">
    <div  class="description" data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="600">
      <h1></span><%= t "white.title" %> </h1>
      <p><%= t "white.content" %></p>

    </div>
    <div class="card">
      <div class="profil-img" data-aos="fade-up">
        <%= cl_image_tag("0013_13-Adrien_Zafiropoulos.jpg", height: 300, width: 300, crop: :fill )  %>
      </div>
    </div>
  </div>

  <div class="container-grey" id= "work">
    <div class="content" data-aos="fade-up">
      <div class="title">
        <h1><%= t "grey.title" %></h1>
      </div>
      <div>
        <p><%= t "grey.content" %>
        </p>
        <button class ="go-button"> <%= t "grey.go" %> </button>
      </div>
    </div>
  </div>

  <div class="container-blue" id="contact">
    <div class="contact content" data-aos="fade-up">
      <div class="title">
        <h1> Contact</h1>
      </div>
      <div>
        <p><i class="fa fa-envelope"> <span>   </span><br></i>adrien.zafiropoulos@gmail.com</p>
        <p><i class="fa fa-mobile"></i> +33(0)627139601</p>
      </div>
    </div>
  </div>

</div>
